{% extends 'base.html.twig' %}

{% block title %}TodoSymfony{% endblock %}

{% block body %}
    <h1>list of all users</h1>

    {% if users is not empty %}

        <table border="1">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Tasks assigned</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('edit_user',{'id':user.id}) }}">
                            {{ user.name }}
                        </a>
                    </td>
                    <td>{{ user.tasks|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h2>There's no users</h2>
    {% endif %}

    {{ form(add_user_form) }}
{% endblock %}
